{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
Index Works
<button class="rounded-lg bg-black text-teal-500">
<a href="{{path('app_project_new')}}">Nouveau projet</a>
</button>
{% endblock %}
